<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-default">
        <a class="navbar-brand" href="#" routerLink="/home" >Kalven <p><span class="small">Enterprises</span></p></a>
      </div>
      <br>
      <div class="row">
        <ul class="nav navbar-nav">
          <li role="presentation" routerLinkActive="active"><a routerLink="/service">employee</a></li>
          <li role="presentation" routerLinkActive="active"><a routerLink="/data">data</a></li>
          
          <input class="search-box" type="text" name="search"  autocomplete="off" placeholder="&#61442;  Start searching">
        </ul>
        
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#" routerLink="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav> 
  <nav>
    